{% extends "base.html" %}
{% load i18n %}

{% block content %}
        <h1 class="h3 text-center">{% trans 'Cambiá tu contraseña' %}</h1>
        <br>
	<form action="{% url 'accounts:change-password' %}" method="POST">
          <div class="form-group">
            <label class="control-label" for="old_password">{% trans 'Contraseña actual' %}</label>
	    {{form.old_password}}

	    {%if form.old_password.errors%}
		<div class="alert alert-danger">{{form.old_password.errors}}</div>
	    {%endif%}

          </div>

          <div class="form-group">
            <label class="control-label" for="new_password1">{% trans 'Nueva contraseña' %}</label>
	    {{form.new_password1}}
	    {%if form.new_password1.errors%}
	    	<div class="alert alert-danger">{{form.new_password1.errors}}</div>
	    {%endif%}
          </div>

          <div class="form-group">
            <label class="control-label" for="new_password2">{% trans 'Confirmar nueva contraseña' %}</label>
	    {%if form.new_password2.errors %}
		<div class="alert alert-danger">{{form.new_password2.errors}}</div>
	    {%endif%}
	    {{form.new_password2}}
          </div>
          <br>
          <button class="btn btn-primary btn-xl btn-block">{% trans 'Aceptar' %}</button>
	  {% csrf_token %}
        </form>
        <br>
        <p class="text-center">
          <a href="{% url 'accounts:data' %}" class="btn btn-link btn-block">{% trans 'Volver' %}</a>
          <a href="#" class="btn btn-link btn-block" target="_blank">{% trans 'Términos de uso y privacidad' %}</a>
        </p>
{% endblock %}
