{% extends "base.html" %}

{% load i18n %}

{% block stylesheets %}
<style type="text/css">
    .panel-body p {
        color: #999;
        font-size: 20px;
    }
    .email-text {
        color: #666;
        font-weight: bold;
        font-size: 24px;
    }
</style>
{% endblock %}

{% block content %}

<div class="text-center">
    <div class="icon icon-email"></div>
    <h1 class="h2">{% trans 'Revisá tu casilla de email' %}</h1>
    <p>{% trans 'Te hemos enviado un link para que recuperes tu contraseña a ' %} <i>{{ email }}</i>.</p>
</div>
    
{% endblock %}