{% extends "base.html" %}

{% load i18n %}

{% block stylesheets %}
    <style type="text/css">
        input {
            margin: 15px 0px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12 text-center">
            <h1>{% trans 'Recuperá tu contraseña' %}</h1>
            <p>{% trans 'Completá los datos para recibir un correo electrónico con los pasos a seguir para recuperar tu contraseña.' %}</p>
            <br><br>

            {% if form.errors.email %}
                <div class="alert alert-danger">{{ form.errors.email }}</div>
            {% endif %}

            <form method="post" action="{% url 'accounts:password-reminder' %}">
                {% csrf_token %}

                <div class="form-group {% if form.errors.email %}has-error{% endif %}">

                    {{ form.email }}
                </div>

                <div class="g-recaptcha">
                    {{ form.captcha }}
                </div>

            {{ form.next }}

                <br>
                <button class="btn btn-primary btn-xl btn-block">{% trans 'Recuperá tu contraseña' %}</button>

            </form>

            <br>
            <a href="#" class="btn btn-link btn-block" target="_blank">{% trans 'Términos de uso y privacidad' %}</a>
        </div>
    </div>


{% endblock %}