{% extends "base.html" %}

{% load i18n %}


{% block content %}

     <h1 class="h3 text-center">{% trans 'Cambiá tu contraseña' %}</h1>
        <br>

    <form method="post" action="{% url 'accounts:password-reset' code %}">
 {% if form.errors.password %}
        <div class="alert alert-danger">{{ form.errors.password }}</div>
    {% endif %}
        {% csrf_token %}

          <div class="form-group {% if form.errors.password %}has-error{% endif %}">
            <label class="control-label" for="pass-nueva">{% trans 'Nueva contraseña' %}</label>
              {{ form.password }}
          </div>

          <div class="form-group {% if form.errors.password %}has-error{% endif %}">
            <label class="control-label" for="pass-confirmar">{% trans 'Confirmar nueva contraseña' %}</label>
        {{ form.password_repeat }}
          </div>

    {{ form.next }}
          <br>
          <button class="btn btn-primary btn-xl btn-block">{% trans 'Cambiar contraseña' %}</button>
        </form>
        <br>
        <p class="text-center">
          <a href="#" class="btn btn-link btn-block" target="_blank">{% trans 'Términos de uso y privacidad' %}</a>
        </p>


{% endblock %}