{% extends "base.html" %}
{% load i18n %}

{% block content %}

	<div class="text-center">
		<div class="icon icon-warning"></div>
			<h1 class="h2">Página no encontrada</h1>
			<p>La dirección web no está bien escrita o fue dada de baja.</p>
			<br><br>
			<a href="{% url 'home' %}" class="btn btn-default btn-lg btn-block">Ir al inicio</a>
			<br>
			<br>
			<a href="#" class="btn btn-link btn-block" target="_blank">{% trans 'Términos de uso y privacidad' %}</a>
		</div>
  	</div>

{% endblock %}
